#container {
	padding: 15px;
}
#container div {
	width: 500px;
	height: 100px;
	background-color: green;
	border-radius: 10px;
	margin: 5px;
	color: white;
	border: 1px solid lightgreen;
	padding: 5px;
	padding-top: 10px;
	text-align: center;
	font-size: 30px;
}
#container span {
	font-family: Courier New;
	font-size: 25px;
}
