body {
	font-family: arial;
	font-size: 10px;
	background-image: linear-gradient(to right, rgb(92, 148, 204) 60%, lightblue);
}
button, input{
	background-image: linear-gradient(to bottom right, pink 30%, white);
	border: 2px solid red;
	border-radius: 5px;
	font-family: Verdana;
	font-size: 20px;
	padding: 10px;
	cursor: pointer;
	transition-duration: 0.1s;
}
button:hover{
	background-image: linear-gradient(to bottom right, red 30%, white);
	color: white;
}
button:active{
	background-image: linear-gradient(to top left, red 30%, white);
	color: white;
}
#inputField {
	cursor: text;
}
#raadLijst{
}
input[type=radio]{
}
input[type=radio] + label {
}
input[type=radio]:checked + label { 
}
textarea {
	font-family: "Courier New";
	font-size: 20px;
}
div#gamefield {
	width: 400px;
	height: 600px;
}
div.lttr {
	text-shadow: 3px 3px 5px black;
	width: 13.5%;
	height: 54px;
	background-image: linear-gradient(to bottom right, rgb(92, 148, 204), lightblue);
	display: inline-block;
	font-size: 35px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	-webkit-text-stroke: 0.5px black;
}
