table {
	font-family: "Tahoma";
	max-width: 100%;
}
#eerste {
	width: 100%;
	display: none;
	position: relative;
	top: 1000px;
}
.field {
	font-size: 4.5vw;
	background-color: lightyellow;
	width: 40%;
	height: 30%;
	position: fixed;
	border-radius: 3.5vw;
	border: 0.2vw solid black;
	text-align: center;
	padding: 3% 0 0 0;
}
.down.left {left: 6%;}
.down.right {right: 6%;}
.left {left: 3%;}
.right {right: 3%;}
.down {bottom: 9%;}
.up {top: 9%;}
#stack {
	font-size: 4.0vw;
	color: white;
	border: 1px solid black;
	background-color: black;
	border-radius: 20%;
	width: 10%;
	padding: 2% 0;
	height: 10%;
	text-align: center;
	position: fixed;
	top: 5%;
	left: 45%;
}
td {
	width:  50px;
	height: 30px;
}
